.wp-block-latest-posts + .wp-block-buttons {
    display: flex;
    justify-content: center;
}

div.hyic-button a,
div.hyic-button a:hover,
div.hyic-button a:visited {
    border: 1px solid #5d5c5c;
    color: #5d5c5c;
    background-color: white;
    padding: 0.5em 2.5em;
    border-radius: 5em;
    text-align: center;
    text-decoration: none;
}

#top-section {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    // background-color: var(--primary);
    background: linear-gradient(45deg, var(--primary), hsl(147 76% 75% / 1));

    .background {
        position: absolute;
        z-index: 1;
        height: 100vh;
        width: 100%;
    }

    .text {
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top {
            display: block;
            padding-left: 75px;
            padding-top: 75px;
            padding-right: 75px;

            img {
                width: 225px;
                max-width: 100%;
            }

            h1 {
                color: white;
                font-size: 6rem;
                font-weight: 300;
                margin-top: 0;
                max-width: 1px;
                overflow-wrap: normal;
            }
        }

        .bottom {
            display: flex;
            flex-direction: row-reverse;
            padding: 3em;
            position: absolute;
            bottom: 0;
            right: 0;

            ul {
                list-style-type: none;
                text-align: right;

                li a {
                    color: black !important;
                    text-decoration: none;
                    font-size: 2.5rem;
                    text-align: right;
                }

                li a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

#main-wrapper.front-page main {
    .podcast {
        figure {
            margin-bottom: 1.5em;

            img {
                height: unset !important;
            }
        }

        div.wp-block-media-text__content {
            display: flex;
            flex-direction: column;
            height: 100%;

            p {
                margin-top: 0;
            }

            figure {
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    #top-section {
        .background {
            height: calc(100% - (1000px - 100vw) / 1.5);
            top: calc((1000px - 100vw) / 1.5);
            overflow: hidden;
            direction: rtl;

            svg {
                width: 1000px;
            }
        }

        .text .top h1 {
            font-size: 10vw;
        }
    }
}

@media screen and (max-width: 600px) {
    #top-section {
        .background {
            height: 70vh;
            top: 30vh;
        }

        .text .top {
            padding-left: 25px;
            padding-top: 25px;
            padding-right: 25px;

            img {
                width: 100px;
            }

            h1 {
                margin-top: 1.15em;
                font-size: 12vw;
            }
        }
    }

    #main-wrapper main .podcast div.wp-block-media-text__content {
        padding: 0;

        p {
            margin: 2em 0;
        }
    }
}
