.hyic-event-carousel-wrapper {
  display: flex;
  flex-direction: row;
}
.hyic-event-carousel-wrapper .hyic-event-card {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  height: 20em;
  width: 13em;
  box-shadow: 0 0 20px 0 #00000024;
}
.hyic-event-carousel-wrapper .hyic-event-card .hyic-event-card-image-wrapper {
  height: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hyic-event-carousel-wrapper .hyic-event-card .hyic-event-card-image-wrapper img {
  min-height: 100%;
  min-width: 100%;
}
.hyic-event-carousel-wrapper .hyic-event-card .hyic-event-card-text-wrapper {
  width: calc(100% - 20px);
  height: 35%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.hyic-event-carousel-wrapper .hyic-event-card .hyic-event-card-button {
  width: 100%;
  height: 15%;
  position: relative;
  bottom: 0;
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}
