nav:not(.footer-nav) {
  position: fixed;
  width: 100%;
  height: 4.35em;
  top: 0;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  box-shadow: 0 0 10px 0 #00000026;
  z-index: 100;
}
nav:not(.footer-nav) img.logo {
  height: 2.85em;
  margin-left: 2em;
}
nav:not(.footer-nav) div.menu,
nav:not(.footer-nav) div.menu-top-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
nav:not(.footer-nav) div.menu ul,
nav:not(.footer-nav) div.menu-top-container ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 2em;
}
nav:not(.footer-nav) div.menu ul li,
nav:not(.footer-nav) div.menu-top-container ul li {
  margin: 0 5px;
}
nav:not(.footer-nav) div.menu ul li a,
nav:not(.footer-nav) div.menu-top-container ul li a {
  text-decoration: none;
  color: black;
}
nav:not(.footer-nav) div.menu ul li.current_page_item a,
nav:not(.footer-nav) div.menu-top-container ul li.current_page_item a {
  font-weight: bold;
}
nav:not(.footer-nav) .hamburger {
  display: none;
  margin-right: 1.5em;
}
nav:not(.footer-nav) .hamburger img {
  height: 1.85em;
}

nav.show-on-scroll {
  position: fixed;
  top: -4.35em;
  transition: top 0.15s ease-out;
}

nav.show-on-scroll.visible {
  top: 0;
}

#mobilenav-wrapper {
  position: fixed;
  top: 4.35em;
  width: 100%;
  overflow: hidden;
  background-color: var(--primary);
  padding: 10px 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.2s ease-out;
  z-index: 99;
  box-shadow: 0 0 10px 0 #00000026;
}
#mobilenav-wrapper ul {
  list-style-type: none;
}
#mobilenav-wrapper ul li {
  padding: 10px 0;
}
#mobilenav-wrapper ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
}
#mobilenav-wrapper ul li.current_page_item a {
  font-weight: bold;
}

#mobilenav-wrapper.opened {
  transform: scaleY(1);
}

.navbar-spacer {
  height: 4.35em;
}

@media screen and (max-width: 730px) {
  nav:not(.footer-nav) {
    justify-content: space-between;
  }
  nav:not(.footer-nav) div.menu,
nav:not(.footer-nav) div.menu-top-container {
    display: none;
  }
  nav:not(.footer-nav) .hamburger {
    display: unset;
    cursor: pointer;
  }
}
