nav {
  width: 100%;
  height: 4.35em;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  box-shadow: 0 0 10px 0 #00000026;
}
nav img.logo {
  height: 2.85em;
  margin-left: 2em;
}
nav div.menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
nav div.menu ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 2em;
}
nav div.menu ul li {
  margin: 0 5px;
}
nav div.menu ul li a {
  text-decoration: none;
  color: black;
}
nav div.menu ul li.current_page_item a {
  font-weight: bold;
}

nav.show-on-scroll {
  display: none;
}
