nav {
    position: fixed;
    width: 100%;
    height: 4.35em;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--primary);
    box-shadow: 0 0 10px 0 #00000026;
    z-index: 100;

    img.logo {
        height: 2.85em;
        margin-left: 2em;
    }

    div.menu {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding-left: 2em;

            li {
                margin: 0 5px;

                a {
                    text-decoration: none;
                    color: black;
                }
            }

            li.current_page_item {
                a {
                    font-weight: bold;
                }
            }
        }
    }

    .hamburger {
        display: none;
        margin-right: 1.5em;

        img {
            height: 1.85em;
        }
    }
}

nav.show-on-scroll {
    position: fixed;
    top: -4.35em;
    transition: top 0.15s ease-out;
}

nav.show-on-scroll.visible {
    top: 0;
}

#mobilenav-wrapper {
    position: fixed;
    top: 4.35em;
    width: 100%;
    overflow: hidden;
    background-color: var(--primary);
    padding: 10px 0;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.2s ease-out;
    z-index: 99;
    box-shadow: 0 0 10px 0 #00000026;

    ul {
        list-style-type: none;

        li {
            padding: 10px 0;

            a {
                color: white;
                text-decoration: none;
                font-size: 1.5em;
            }
        }

        li.current_page_item a {
            font-weight: bold;
        }
    }
}

#mobilenav-wrapper.opened {
    transform: scaleY(1);
}

.navbar-spacer {
    height: 4.35em;
}

@media screen and (max-width: 730px) {
    nav {
        justify-content: space-between;

        div.menu {
            display: none;
        }

        .hamburger {
            display: unset;
            cursor: pointer;
        }
    }
}
