.single-post-thumbnail-header {
  width: 100%;
  max-height: 33vh;
  min-height: 100px;
  display: flex;
  overflow: hidden;
  align-items: center;
  box-shadow: inset 0 0 20px 0 #0066;
}
.single-post-thumbnail-header img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

#main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-wrapper main {
  width: 1000px;
  max-width: calc(100% - 40px);
}
#main-wrapper main h1 {
  font-size: 3.25rem;
  font-weight: 500;
  margin-top: 2em;
  margin-bottom: 0.75em;
}
#main-wrapper main p {
  line-height: 1.5em;
}

#main-wrapper.single-post main h1 {
  margin-bottom: 0;
}
#main-wrapper.single-post main time {
  margin-top: 0.35em;
  color: #565656;
  font-variation-settings: "wght" 545;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 730px) {
  #main-wrapper main h1 {
    margin-top: 0.5em;
  }
}
