.single-post-thumbnail-header {
    width: 100%;
    max-height: 33vh;
    min-height: 100px;
    display: flex;
    overflow: hidden;
    align-items: center;
    box-shadow: inset 0 0 20px 0 #0066;

    img {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
    }
}

#main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    main {
        width: 1000px;
        max-width: calc(100% - 40px);

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            overflow-wrap: break-word;
        }

        h1 {
            font-size: 3.25rem;
            font-weight: 500;
            margin-top: 2em;
            margin-bottom: 0.75em;
        }

        p {
            line-height: 1.5em;
        }
    }
}

#main-wrapper.single-post {
    main {
        h1 {
            margin-bottom: 0;
        }

        time {
            margin-top: 0.35em;
            color: #565656;
            font-variation-settings: "wght" 545;
            margin-bottom: 0.5em;
        }
    }
}

a.hyic-primary-button,
a.hyic-primary-button:visited {
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    width: fit-content;
    padding: 10px 20px;
}

a.hyic-primary-button:hover {
    background: hsl(157 76% 43% / 1);
}

@media screen and (max-width: 1000px) {
    #main-wrapper main h1 {
        margin-top: 0.5em;
    }
}
