@font-face {
    font-family: 'Manrope';
    src: url('../assets/fonts/Manrope[wght].ttf') format("truetype-variations");
    font-display: fallback;
}

:root {
    --primary: #36e3a1;
    // --menu-bar-height: 2em;
}

body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow-wrap: break-word;
}
